
* {
  /* border-style: solid;
  border-width: 1px; */
  box-sizing: border-box;
  font-family:'Gill Sans MT', sans-serif;
}

body {
  margin: 0;
  --def: white; 	
	--inv: black;
  background-color: mistyrose;
  transition: all 0.2s ease;
}



.page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

/*_______________________________ */

/* Mini Menu*/

.tema {
  height: 100px;
  display: flex;
  align-items: center;
  background: url(./photos/background_reg.jpg);
}

body.dark .tema {
  background: black;
  
}

/* body.dark .page {
  background-color: rgb(26, 25, 25);
} */

.header-container {
  width: 1225px;
  margin: 0 auto;
  display: flex;
}


.nav {
  margin-right: auto;
  margin-top: 30px;
}

.search {
  text-decoration: none;
  color: black;
}

body.dark .search {
  color: rgb(255, 255, 255);
}

.header-container li {
  margin-top: 32px;
  margin-right: auto;
  list-style-type: none;
}


.header-container i {
  margin-right: 5;
}

/*_______________________________ */

/* Button Login*/ 







.form_popup {
  width: 275px;
  margin: 0px auto 20px auto;
  text-align: center;
  
}


.input {
  width: 260px;
  padding: 5px;
  margin-bottom: 10px;
  background: none;
  border: 2px solid skyblue;
  outline: none;
  border-radius: 20px;
  transition: 0.25s;
}


.input:focus {
  width: 280px;
  border-color: blue;
  background-color: rgb(217, 236, 243);
}


.form_popup a {
  color: red;
}

.radio {
  margin-bottom: 20px;
  cursor: pointer;
}

.close {
  width: 12px;
  height: 12px;
  margin: 10 auto 0 0;
  cursor: pointer;
}


#backG_popup {
  background-color: rgba(1, 1, 7, 0.521);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}

#backG_popup:target {
  opacity: 1;
  visibility: visible;
}

#backG_popup:target #window_popup {
  opacity: 1;
  transform: translate(0, 0);
}

#window_popup {
  width: 350px;
  height: 360px;
  background: rgb(41, 40, 40);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 15px;
  z-index: 150;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  overflow: auto;
  padding-top: 10;
  transform: translate(0, -100%);
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.knopkaVHOD {
  width: 260px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(197, 252, 218);
  border: 2px groove skyblue;
  outline: none;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}

.knopkaVHOD:hover {
  width: 280px;
  border-color: blue;
  cursor: pointer;
  background-color: rgb(217, 236, 243);
  background: rgb(127, 253, 175);
}

.button_whod a {
  text-decoration: none;
  font-weight: 400;
  position: relative;
  color: #302f2f;
  display: inline-block;
  border-radius: 3px;
}

.btn-1{
  padding: 1em 3em;
  border: 1px solid rgb(0, 0, 0);
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
  margin-top: 16px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background: black;
  border-radius: 3px;
  height: 62%;
  width: 100%;
  padding-left: 30;
  display: flex;
  text-decoration: none;
}

.btn-1:hover{
  color: black; 
  box-shadow: none;
  background-color: white;
}


body.dark .btn-1 {
  background: white;
  color: black;
  border: 1px solid white;
}

body.dark .btn-1:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

/*_______________________________ */

/* Button REG*/

.button_reg a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: #ffffff;
  display: inline-block;
  border-radius: 3px
}

.btn-2{
  padding: 1em 3em;
  margin-left: 20px;
  border: 1px solid var(--inv);
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
  margin-top: 16px;
  font-size: 14px;
  border-radius: 3px;
  background: black;
  cursor: pointer;
  color: white;
  padding-left: 35;
}
 
.functionsbut {
  display: flex;
}

/* .btn-2:before {
  position: absolute;
  content: '';
  width: 0%; 
  height: 100%;
  background: var(--inv);
  top: 0; 
  left: 50%;
  z-index: -1;
  transition: inherit;
} */

.btn-2:hover{
  color: rgb(0, 0, 0); 
  box-shadow: none;
  background-color: white;
}

/* body.dark .btn-2{
  background: white;
  color: black;
}

body.dark .btn-2:hover{
  color: white; 
  background-color: black;
} */


#window {
  width: 350px;
  height: 730px;
  background: rgb(41, 40, 40);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 15px;
  z-index: 150;
  display: block;
  margin: 100px auto ;
  overflow: auto;
  transform: translate(0, -100%);
  transition: all 0.8s ease 0s;
  opacity: 0;
  padding-top: 10px;
}

#backG {
  background-color: rgba(1, 1, 7, 0.521);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

#backG:target {
  opacity: 1;
  visibility: visible;
}

#backG:target #window {
  opacity: 1;
  transform: translate(0, 0);
}

.form {
  width: 275px;
  margin: 0px auto 20px auto;
  text-align: center;
}

.global_menu h3 {
  color: white;
  margin-bottom: 10;
}

.input {
  width: 260px;
  padding: 10px;
  margin-bottom: 10px;
  background: rgb(219, 219, 219);
  border: 2px solid skyblue;
  outline: none;
  border-radius: 20px;
  transition: 0.25s;
}


.input:focus {
  width: 280px;
  border-color: blue;
  background-color: rgb(217, 236, 243);
}

/* .input:valid {
  border: 2px solid red;
} */



.knopkaREG {
  width: 260px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(197, 252, 218);
  border: 2px groove skyblue;
  outline: none;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}

.knopkaREG:hover {
  width: 280px;
  border-color: blue;
  cursor: pointer;
  background-color: rgb(127, 253, 175);
}

.form a {
  color: red;
}

.form_popup a{
  color: rgb(68, 68, 68);
}

.radio {
  margin-bottom: 20px;
  cursor: pointer;
}

.close {
  width: 12px;
  height: 12px;
  margin: 10 auto 0 0;
  cursor: pointer;
  top: 0;
  right: 0;
}




.checkbox {
  margin-right: 5px;
  cursor: pointer;
}

.checkbox2 {
  margin-right: 5px;
  cursor: pointer;
}

@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.pravilo1 {
  border: 2px inset rgb(235, 34, 34);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.pravilo1 a{
  margin-left: 5;
}

.pravilo2 a {
  margin-left: 10px;
}

.pravilo1 .checkbox:checked {
  animation: tick .2s ease-in-out;
}

.pravilo2 {
  border: 2px inset rgb(235, 34, 34);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.pravilo2 .checkbox2:checked {
  animation: tick .2s ease-in-out;
}

.radio:checked {
  animation: tick .2s ease-in-out;
}

.mush {
  display: inline;
}

.shen {
  display: inline;
}

.oznakomlen1 {
  display: inline;
  margin-left: -5;
}

.oznakomlen2 {
  display: inline;
  margin-left: -5;
}

body.dark .oznakomlen1{
  color: black;
}

body.dark .oznakomlen2 {
  color: black;
}

/*_______________________________ */

.photo_logo {
  height: 75px;
  width: 75px;
  box-shadow: 0px 0px 5px 0px rgba(46, 46, 49, 0.97);
  margin-right: 15px;
}

.logo_film {
  font-weight: bold;
  text-decoration: none;
  outline: none;
  font-size: 18px;
  color: black
}

/*_______________________________ */

/* Top Menu*/


.three ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  text-align: center;
}


.topmenu > li {
  display: inline-block;
  margin-right: 160px;
  position: relative;
  align-items: center;
}
.topmenu > li:last-child {
  margin-right: 0;
}

/* .topmenu > li:first-child {
  
} */

.topmenu a {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  justify-content: center;
  align-items: center;
}

.topmenu .bx {
  margin-left: 10px;
}

.topmenu li a:hover {
  color: azure;
}

.submenu li a:hover {
  color: rgb(255, 255, 255);
}


.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}

/*____________________________________*/

/* Видимость субменюшки */

.three .submenu {
  visibility: hidden;
  opacity: 0;
  background: #171815;
}

.three ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

/*______________________________*/

.submenu {
  position: absolute;
  display: inline-flex;
  transform: translate(-635px, 0);
  -o-transform: translate(-645px,0); /** Opera **/
  -moz-transform: translate(-645px,0); /** Firefox **/
  top: 100%;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 1118px;
  height: 340px;
}

body.dark .submenu {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: 0.5s ease-in-out;
}

.block1 {
  margin: 5 0 5 20;
}

.block1 li a {
  display: block;
  float: left;
  margin: 10 30 5 20;
  font-size: 14px;
  font-family:'Gill Sans MT', sans-serif;
  padding: 0;
}

.film_adress li{
  color: white;
  margin: 5 0 7 20;
}

.block2 {
  margin: 5 10 7 60;
}

.block2 li a {
  display: block;
  float: left;
  margin: 10 40 5 10;
  font-size: 14px;
  font-family:'Gill Sans MT', sans-serif;
  padding: 0;
}


.film_adress2 li{
  color: white;
  margin: 5 0 7 10;
}

.block3 {
  border-left: 1px solid rgb(124, 124, 124);
  height: 300px;
  margin: 5 40 0 40;
}

.block3 a {
  /* position: relative; */
  display: block;
  float: left;
  margin: 10 10 0 120;
  font-size: 14px;
  font-family:'Gill Sans MT', sans-serif;
  padding: 0 0 4 15;
  margin-left: -1px;
}

.film_adress3 li{
  color: white;
  margin: 5 0 7 -1;
  padding-left: 15;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.block3 a:hover {
  border-left: 1px solid rgb(255, 255, 255);
}

.film_adress3 li:hover{
  border-bottom: 1px solid white;
}

.block4 {
  margin: 5 40 5 60;
}

.block4 li a {
  display: block;
  float: left;
  margin: 10 40 5 10;
  font-size: 14px;
  font-family:'Gill Sans MT', sans-serif;
  padding: 0;
}

.film_adress4 li {
  font-size: 16px;
  color:white;
  margin: 5 40 10 10;
  padding: 0;
}

.film_adress5 li{
  color: white;
  float: left;
  margin: 25 40 10 10;
  font-size: 16px;
  padding: 0;
}

.photo_inner {
  width: 300px;
  height: 300px;
}

/*________________________*/

/* Субменюшка2 */

.three .submenu2 {
  visibility: hidden;
  opacity: 0;
  background: #171815;
}

.three ul li:hover .submenu2 {
  visibility: visible;
  opacity: 1;
}

.submenu2 {
  position: absolute;
  display: inline-flex;
  transform: translate(-338px, 0);
  -o-transform: translate(-10px,0); /** Opera **/
  -moz-transform: translate(-10px,0); /** Firefox **/
  top: 100%;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 1118px;
  height: 340px;
}

body.dark .submenu2 {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}


.mult_1 {
  margin: 5 0 5 10;
}

.mult_1 a {
  display: block;
  float: left;
  font-family:'Gill Sans MT', sans-serif;
  font-size: 14px;
  margin: 10 30 5 20;
  padding: 0;
  white-space: nowrap;
}

.mult_logo1 li{
  color: white;
  margin: 5 0 7 20;
}

.mult_2 {
  margin: 5 10 7 40;
}

.mult_2 a {
  display: block;
  float: left;
  padding: 0;
  margin: 10 40 5 10;
  font-family:'Gill Sans MT', sans-serif;
  font-size: 14px;
}

.mult_logo2 li{
  color: white;
  margin: 5 0 7 10;
}

.mult_3 {
  margin: 5 40 5 60;
}

.mult_3 a {
  display: block;
  float: left;
  margin: 10 40 5 10;
  font-size: 14px;
  font-family:'Gill Sans MT', sans-serif;
  padding: 0;
}

.mult_logo3 li {
  font-size: 16px;
  color:white;
  margin: 5 40 10 10;
  padding: 0;
}

.mult_logo4 li{
  color: white;
  float: left;
  margin: 25 40 10 10;
  font-size: 16px;
  padding: 0;
}

.mult_4 {
  border-left: 1px solid rgb(124, 124, 124);
  height: 300px;
  margin: 5 40 0 30;
}

.mult_4 a {
  /* position: relative; */
  display: block;
  float: left;
  margin: 10 10 0 120;
  font-size: 14px;
  font-family:'Gill Sans MT', sans-serif;
  padding: 0 0 4 15;
  margin-left: -1px;
}



.mult_logo5 li{
  color: white;
  margin: 5 0 7 -1;
  padding-left: 15;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.mult_4 .mu_1:hover, .mult_4 .mu_2:hover, .mult_4 .mu_3:hover, .mult_4 .mu_4:hover, .mult_4 .mu_5:hover {
  border-left: 1px solid rgb(255, 255, 255);
  background-image: url(./photos/pic1.png);
}

.mult_logo5 li:hover {
  border-bottom: 1px solid white;
}


.three .me_me {
  visibility: hidden;
  background: #171815;
}

.three ul li ul li:hover .me_me {
  visibility: visible;
}

.mu_2:hover {
  padding-left: 20px;
}

.me_me {
  position: absolute;
  display: block;
  right: 25;
  top: 10;
  width: 240px;
  height: 310px;
  transition: 1s ease-in-out;
}


.me__me {
  position: absolute;
  width: 200;
  height: 300;
  border: 1px solid wheat;
  margin-left: 40px;
  background-image: url(./photos/gintama_logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity_logo {
  border: 1px solid wheat;
  width: 200px;
  height: 300px;
  background: rgba(46, 46, 49, 0.47);
  margin-left: 40;
  opacity: 0;
  cursor: pointer;
  position: relative;
  transition: 1s ease-in-out;
}

.opacity_logo:hover {
  opacity: 1;
  border: 1px solid skyblue;
  transition: 1s ease;
}

.opacity_upper {
  color: white;

}

.me__me1 {
  position: absolute;
  display: block;
  width: 200;
  height: 300;
  right: 25;
  top: 10;
  border: 1px solid wheat;
  margin-left: 40px;
  background-image: url(./photos/raya_logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity_logo1 {
  border: 1px solid wheat;
  width: 200px;
  top: 10;
  height: 300px;
  background: rgba(46, 46, 49, 0.47);
  margin-left: 40;
  opacity: 0;
  right: 25;
  cursor: pointer;
  position: absolute;
  transition: 1s ease-in-out;
}


.opacity_logo1:hover {
  opacity: 1;
  border: 1px solid skyblue;
  transition: 3s ease;
}

.mu_1:hover {
  padding-left: 20;
}


.photo_inner {
  width: 300px;
  height: 300px;
}


.three ul {
  background: rgb(0, 0, 0);
}

.three ul a {
  color: rgb(177, 174, 174);
}


/*_______________________________ */

/* Button Change Theme*/

body.dark {
  background: rgb(16, 17, 14);
  color: rgb(255, 255, 255);
  position: absolute;
  content: '';
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

body.dark .button_whod a {
  color:white;
}

body.dark .button_whod .btn-1 {
  border: 1px solid white;
}

body.dark .button_whod a:hover {
  color:rgb(0, 0, 0);
  
}

body.dark .button_whod .btn-1:hover {
  background-color:rgb(255, 255, 255);
  border: 1px solid white;
}

body.dark .button_reg a {
  color:rgb(255, 0, 0);
}




body.dark .button_reg .btn-2 {
  color: rgb(0, 0, 0);
  border: 1px solid white;
  background: white;
}

/* body.dark .button_reg a:hover {
  color:rgb(0, 0, 0);
} */

body.dark .button_reg .btn-2:hover {
  background-color:rgb(0, 0, 0);
  color: white;
}

body.dark .form_popup a{
  color: rgb(255, 0, 0);
}

body.dark .form_popup{
  color: rgb(0, 0, 0)
}

body.dark .logo_film {
  color: rgb(255, 255, 255);
}

body.dark .logo_film:hover {
  color: rgb(196, 194, 194);
}

body.dark .butn{
  color: azure;
  box-shadow: 0 0 5px silver;
  transition: 1s;
}

body.dark .butn:hover {
  box-shadow: 0 0 10px silver;
}

body.dark .butn:active {
  box-shadow:inset 0 0 5px silver;
}

.butn {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px, 20px;
  border: none;
  background: transparent;
  box-shadow: 0 0 5px silver;
  cursor: pointer;
  outline: none;
  transition: 1s;
}


.butn:hover{
  box-shadow: 0 0 10px silver;
  
}

.butn:active{
  box-shadow: inset 0 0 5px silver;
  
}

/*_______________________________ */

/* Footer */

.foot {
  border-top: 1px solid purple;
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.social__items {
  width: 50px;
  height: 50px;
}

/*_______________________________ */

/* JS REGISTRATION */

input._error {
  color:black;

}

.error {
  color: rgb(243, 63, 63);
  font-size: 12;
  margin-bottom: 10px;
}

input._error:focus {
  box-shadow: none;
}

/* input._error{
  box-shadow: 0 0 10px red;
} */

input._error:focus {
  border: 2px solid blue;
}

/* .form_body {
  position: relative;
}

.form_body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./photos/loading.gif) center / 100px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.form_body._sending::after {
  opacity: 1;
  visibility: visible;
}

/* Body фильмы */

.body__items {
  width: 1385px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.body_family li {
  display: inline-block;
  position: relative;
  font-size: 20;
  margin-bottom: 10;
  margin-left: 50;
  font-family:'Gill Sans MT', sans-serif;
}

.body__items {
  display: inline-flex;
}

.body__image {
  border: 1px solid wheat;
  background-image: url(./photos/raya_logo.jpg);
  width: 160px;
  height: 240px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20;
  margin-top: 10;
  padding: 0;
}


.opacity__logo {
  border: 1px solid wheat;
  width: 160px;
  display: block;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  opacity: 0;
  margin-top: -1;
  margin-left: -1;
  cursor: pointer;
}

.body__image:hover {
  width: 170;
  height: 250px;
  margin-top: 5;
  margin-left: 15;
}

.opacity__logo:hover {
  width: 170;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image1 {
  border: 1px solid wheat;
  background-image: url(./photos/invisible.jpg);
  width: 160px;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10;
  margin-left: 30px;
}

.opacity__logo1 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image1:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo1:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image2 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/vospomin.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10;
  margin-left: 30;
}

.opacity__logo2 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image2:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo2:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image3 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/fahim.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10;
  margin-left: 30;
}

.opacity__logo3 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image3:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo3:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image4 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/beskonechno.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10;
  margin-left: 30;
}

.opacity__logo4 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image4:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo4:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image5 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/ischezn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10;
  margin-left: 30;
}

.opacity__logo5 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image5:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo5:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image6 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/mortal.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10;
  margin-left: 30;
}

.opacity__logo6 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image6:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo6:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.body__image7 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/ledyanoi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10;
  margin-left: 30;
  margin-right: 20px;
}

.opacity__logo7 {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  position: relative;
  background: rgba(46, 46, 49, 0.47);
  cursor: pointer;
  opacity: 0;
  margin-left: -1;
  margin-top: -1;
}

.body__image7:hover {
  width: 170px;
  height: 250px;
  margin-top: 5;
  margin-left: 25;
}

.opacity__logo7:hover {
  width: 170px;
  height: 250px;
  opacity: 1;
  border: 1px solid skyblue;
}

.main__text {
  display: flex;
}

.text__logo a{
  width: 160;
  outline: 0;
  text-decoration: none;
  color: rgb(44, 44, 44);
  font-size: 16px;
  font-family:'Gill Sans MT', sans-serif;
  display: block;
  margin-top: 15;
  float: left;
  text-align: center;
  margin-left: 30;
  transition: 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.dark .text__logo a{
  color: #d3d1d1;
}

body.dark .text__logo a:hover{
  color: white;
}

.text__logo a:hover {
  color: rgb(160, 76, 76);
  transition: 0.5s ease-in-out;
  text-overflow: inherit;
  text-align: center;
  white-space: normal;
}

.text__logo1 a{
  width: 160;
  outline: 0;
  text-decoration: none;
  color:rgb(44, 44, 44);
  font-size: 16px;
  font-family:'Gill Sans MT', sans-serif;
  display: block;
  margin-top: 15;
  float: left;
  text-align: center;
  margin-left: 66;
  transition: 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text__logo1 a:hover {
  color: rgb(160, 76, 76);
  transition: 0.5s ease-in-out;
  text-overflow: inherit;
  text-align: center;
  white-space: normal;
}

body.dark .text__logo1 a{
  color: #d3d1d1;
}

body.dark .text__logo1 a:hover{
  color: white;
}


.slider__control img {
  width: 35px;
  height: 35px;
  text-align: center;
}

.slider__control {
  background-color: mistyrose;
  border: none;
  cursor: pointer;
  text-align: center;
}


body.dark .slider__control img {
  width: 35px;
  height: 35px;
  text-align: center;
}

body.dark .slider__control {
  background-color: black;
  border: none;
  cursor: pointer;
}

.body__slider {
  overflow: hidden;
}





/* .wrapper {
  
  width: 1250;
  margin: 20 0 40 65;
}

.slider__container {
  overflow: hidden;
}

.slider__track {
  display: flex;
  transition: 2s;
}

.slider__item {
  border: 1px solid wheat;
  width: 160px;
  height: 240px;
  background-image: url(./photos/mortal.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 20px;
}

.slider__item:first-child {
  margin-left: 0;
} */

/* .btn__prev {
  display: flex;
  float: left;
  background-color: black;
  border: 0;
  text-align: center;
}

.btn__next {
  float: right;
  background-color: black;
  border: 0;
}

.btn__prev img{
  text-align: center;
  width: 35;
  height: 35px;
  cursor: pointer;
  
}

.btn__next img{
  text-align: center;
  width: 35;
  height: 35px;
  cursor: pointer;
} */


.body__form {
  padding: 30 60 10 60;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body__form li{
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
}

.body__form li a{
  text-decoration: none;
  outline: none;
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-family:'Gill Sans MT', sans-serif;
  transition: 0.5s;
}

body.dark .body__form li a{
  text-decoration: none;
  outline: none;
  color: rgb(180, 180, 180);
  transition: 0.5s;
}

.body__form li a:hover{
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family:'Gill Sans MT', sans-serif;
  transition: 0.5s;
}

body.dark .body__form li a:hover{
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.slider__items__body {
  padding: 0 20 0 20;
  height: 50vh;
  display: block;
}

.slider__items__body img {
  width: 100%;
  max-width: 159px;
  border-radius: 5px;
  border: 2px solid rgb(136, 97, 85);
  height: 37vh;
  display: block;
  margin: auto;
}

body.dark .slider__items__body img {
  border: 1px solid wheat;
}


.body__form1 {
  padding: 30 60 10 60;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body__form1 li{
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
}

.body__form1 li a{
  text-decoration: none;
  outline: none;
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-family:'Gill Sans MT', sans-serif;
  transition: 0.5s;
}

body.dark .body__form1 li a{
  text-decoration: none;
  outline: none;
  color: rgb(180, 180, 180);
  transition: 0.5s;
}

.body__form1 li a:hover{
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family:'Gill Sans MT', sans-serif;
  transition: 0.5s;
}

body.dark .body__form1 li a:hover{
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.slider__items__body1 {
  padding: 0 20 0 20;
  height: 50vh;
  display: block;
}

.slider__items__body1 img {
  width: 100%;
  max-width: 159px;
  border-radius: 5px;
  border: 2px solid rgb(136, 97, 85);
  height: 37vh;
  display: block;
  margin: auto;
}

body.dark .slider__items__body img {
  border: 1px solid wheat;
}


.body__form_title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}


.body__form_title li {
  list-style-type: none;
  margin-left: 80px;
}

.body__form_title li a{
  text-decoration: none;
  outline: none;
}

.body__title1 {
  margin-bottom: 10;
  display: flex;
  align-items: center;
}

.body__title1 i {
  font-size: 20px;
}

.body__title2 { 
  display: block;
}


.body__title1 a{
  font-size: 18px;
  color: black;
}

.body__title2 a {
  font-size: 16px;
  color: rgb(77, 77, 77);
}

body.dark .body__title1 a{
  font-size: 18px;
  color: rgb(255, 255, 255);
}

body.dark .body__title2 a {
  font-size: 16px;
  color: rgb(207, 207, 207);
}

.slider__comments li {
  list-style-type: none;
  text-align: center;
  font-size: 20;
}

/* .main__label img {
  width: 100%;
  height: 50%;
} */ 

.slider__center {
  padding: 30 60 10 60;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__center li{
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
}

.slider__center li a{
  text-decoration: none;
  outline: none;
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-family:'Gill Sans MT', sans-serif;
  transition: 0.5s;
}

body.dark .slider__center li a{
  text-decoration: none;
  outline: none;
  color: rgb(180, 180, 180);
  transition: 0.5s;
}

.slider__center li a:hover{
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family:'Gill Sans MT', sans-serif;
  transition: 0.5s;
}

body.dark .slider__center li a:hover{
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.slider__center__item {
  padding: 0 20 0 20;
  position: relative;
  height: 50vh;

}

.slider__center__item img {
  width: 100%;
  max-width: 159px;
  border-radius: 5px;
  border: 2px solid rgb(136, 97, 85);
  height: 37vh;
  display: block;
  margin: auto;

}

body.dark .slider__center__item img {
  border: 1px solid wheat;
}

.slider__center__item .dalee__1 {
  background: rgb(43, 43, 43);
  border: 1px solid wheat;
  width: 100%;
  max-width: 159px;
  height: 37vh;
  display: block;
  margin-top: 0;
  border-radius: 5px;
}

.slider__center__item .dalee__2 {
  outline: none;
  text-decoration: none;
  color:#dddddd;
  display: block;
  text-align: center;
  margin-top: 40%;
}

.slider__center__item .dalee__2:hover {
  color:#ffffff;
}

.slider__center__item .dalee__1 i {
  display: block;
  font-size: 30px;
  padding-top: 10px;
}

.global_menu {
  display: flex;

}

.global_menu p{
  float: right;
  margin: -10 0 0 auto;
}

.global_menu {
  text-align: center;
  margin-left: 11;
  margin-top: 15px;
  margin-bottom: 15;
}

.global_menu p a{
  color: rgb(196, 47, 47);
  text-decoration: none;
}

a.close_popup {
  text-decoration: none;
  color: rgb(250, 246, 246);
  font-size: 18;
}

body.dark a.close_popup {
  text-decoration: none;
  color: rgb(250, 246, 246);
  font-size: 18;
}

.form_popup h5 {
  color: rgb(228, 64, 64);
  text-align: center;
  margin: 0;
  margin-bottom: 30;
  margin-left: 0;
  margin-top: 10px;
}

.topmenu_reg {
  display: flex;

}

.leave_class .leave__href {
  color: black;
  text-decoration: none;
}

body.dark .leave_class .leave__href{
  color: white;
}

.username_class a{
  color: black;
  text-decoration: none;
  position: relative;
}

body.dark .username_class a{
  color: white;
}

.username_class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leave_class i{
  padding: 0;
  margin-left: 10;
}

.leave_class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leave__href {
  padding: 0;
  margin-left: 10px;
}

form .mes {
  color: red;
  font-size: 12px;
}

.username_class a:after {
	content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.username_class a:hover:after {
	content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;  /* Время эффекта */
}

body.dark .username_class a:after{
  background-color: white;
}

body.dark .username_class a:hover:after{
  background-color: #fff;
}

.top_title_film {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player_video {
  margin-top: 5px;
  display: flex;
  margin-left: 90px;
}

.player_video video {
  cursor: pointer;
  margin-bottom: 25px;
  display: block;
}

.player_video h2 {
  text-align: center;
}

.video_description {
  padding-left: 40px;
  padding-right: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  display: block;
  /* border-left: 1px solid black; */
  text-align: justify;
}


.about_film {
  display: flex;
  margin-bottom: 30px;
  font-size: 18px;
  justify-content: center;
  margin-top: 20px;
}

.about_film .years_old {
  border: 1px solid black;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.about_film .about {
  margin-left: 20px;
}

body.dark .about_film .years_old {
  border: 1px solid white;
}

.buttons {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons a {
  text-decoration: none;
  display: flex;
  color: black;
  background-color: rgb(253, 192, 78);
  box-shadow: 0 0 10px black;
  padding: 14px;
  border-radius: 15px;
  transition: 0.5s;
  align-items: center;
}

.buttons a:hover {
  background-color: rgb(253, 186, 61);
}

.under_video {
  margin-left: 90px;
  margin-right: 30px;
  border-top: 1px solid black;
  margin-bottom: 40px;
}

.about_actors h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photos_actor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.photos_actor .about_autor:first-child {
  margin-left: 0px;
}

.photos_actor .about_autor {
  border-radius: 20px;
  margin-left: 20px;
  font-size: 14px;
  text-align: center;
}

.photos_actor .about_autor img {
  border-radius: 20px;
}

.photos_actor .about_autor .name_autor {
  margin-top: 4px;
}


.photos_actor .about_autor .job_actor {
  color: #666565;
}

.buttons .count_like {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 15px;
  padding: 5px;
  background-color: #fde4f5;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.buttons .count_like i {
  margin-right: 5px;
  font-size: 20px;
}

.buttons .count_like .countLI{
  margin-right: 5px;
}

.buttons .count_like.active {
  background-color: rgb(253, 186, 186);
}

.vote_buttons i {
  font-size: 20px;
  margin-right: 5px;
}

#searchform {
  margin-right: 300px;
  margin-top: 28px;
}

#changepas {
  display: block;
  padding-top: 40px;
}

#changepas input {
  display: block;
  text-align: center;
  width: 60%;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
}

#tab_1 {
  padding-bottom: 20px;
  
}


#tab_2 {
  padding: 10px;
}

.main-container {
  display: flex;
  background-color: wheat;
  margin: 0px 200px;
  margin-top: 50px;
  box-shadow: 0 0 10px black;
  border-radius: 20px 20px 20px 0px;
}

.container-user {
  display: block;
  padding: 20px 20px;
  margin-left: 20px;
}

.main-container img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  padding: 5px;
  border: 3px solid rgb(15, 69, 248);
  margin-left: 15px;
}

.content_tabs {
  margin: 0px 200px;
  margin-top: 50px; 
}

.tabs_items {
  display: flex;
  justify-content: space-around;
}

.tabs_item {
  display: flex;
  height: 30px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
}

.tabs_items span {
  position: relative;
  z-index: 2;
  margin-right: 20px;
}

/* .izbran {
  margin-right: 20px;
} */


.tabs_block {
  position: relative;
  display: none;
}

.tabs_block:before {
  content: "";
  display: flex;
  height: 30px;
  position: absolute;
  top: -50px;
  width: 100%;
}

.tabs_block:target{
  display: block;
}

.tabs_block:nth-child(1) {
  background-color: wheat;
}
.tabs_block:nth-child(1):before {
  background-color: wheat;
  left: 0;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.tabs_block:nth-child(2) {
  background-color: wheat;
}
.tabs_block:nth-child(2):before {
  background-color: wheat;
  right: 0;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.order_item {
  display: block;
}

.order_item.active {
  display: none;
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.search_form .text {
  width: 60%;
  height: 40px;
}

.search_form .enter {
  height: 40px;
}

#body__form1 div.hide {
  display: none;
}
